:root {
  --red: #c73333;
  --green: #2c633c;
  --black: #21201c;
  --white: #fff;
  --color-grey-lightest: #f5f5f5;
  --color-grey-lighter: #e0e0e0;
  --color-grey-light: #bdbdbd;
  --color-grey: #9e9e9e;
  --color-grey-dark: #757575;
  --color-grey-darker: #616161;
  --spacing: 1rem;
  --spacing-large: 2.5rem;
  --flow-space: 2.5rem;
  --border: 2px solid var(--green);
  --transition-time: 0.3s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: 0.3s;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  color: var(--black);
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--green);
}

h1 {
  text-wrap: balance;
  text-align: center;
}

a {
  color: var(--red);
  font-weight: bold;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  transition: var(--transition-time);
}
a:hover,
a:focus-visible {
  color: var(--green);
  text-decoration: none;
}

details {
  padding-inline: var(--spacing);
  border: var(--border);
}

summary {
  cursor: pointer;
  display: flex;
  align-items: center;
}
summary::before {
  content: '▶';
  margin-inline-end: 0.5rem;
  color: var(--green);
}
details[open] summary::before {
  content: '▼';
}

.header,
.footer {
  color: var(--white);
  padding: 2rem 0;
}

.footer {
  margin-block-start: var(--flow-space);
  background-color: var(--green);
}

.footer h2 {
  color: var(--white);
}

.flow > * + * {
  margin-block-start: var(--flow-space);
}

.container {
  max-width: 48rem;
  margin: 0 auto;
  padding-inline: 1rem;
}

.get-tickets {
  display: inline-block;
  background-color: var(--red);
  padding: 1rem 2rem;
  font-weight: bold;;
  border-radius: 0.5rem;
  color: var(--white);
  text-decoration: none;
}
.get-tickets:hover,
.get-tickets:focus-visible {
  transform: scale(1.05);
  background-color: var(--green);
  color: var(--white);
  text-decoration: underline;
}
.get-tickets:active {
  transform: scale(0.95);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--flow-space);
  list-style: none;
  padding: 0;
}

.cards > li {
  height: 100%;
}
.card {
  height: 100%;
  border: var(--border);
  padding: var(--spacing-large);
  border-radius: 0.5rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover,
.card:focus-within {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.notice {
  background-color: var(--red);
  padding: var(--spacing);
  border-radius: 0.5rem;
  color: var(--white);
}